@import url(http://fonts.googleapis.com/css?family=Corben);
h1.main-title { font-family: 'Corben', cursive; text-align: center;}
h2.section-title { font-family: 'Corben', cursive; }

.presentation-list li { white-space: nowrap; text-overflow: ellipsis; list-style-position: inside; overflow: hidden; }


.presenter {
	width: 30%;
	float: left;
}

.presenter video {
	background-color: red;
	width: 100%;
}

#slide {
	width: 70%;
}

.casting .presenter {
	display: none;
}
.casting #slide {
	display: block;
	margin-top: 1.5em;
	margin-left: auto;
	margin-right: auto;
}